/* 全局样式 */
/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root {
  --primary-bg-color: #1a1a1a;
  --secondary-bg-color: #2a2a2a;
  --text-color: #ffffff;
  --neon-blue: #00ffff;
  --neon-purple: #8a2be2;
  --neon-green: #39ff14;
  --neon-orange: #ffa500;
  --gradient-neon: linear-gradient(90deg, var(--neon-purple), var(--neon-blue));
  --title-font: 'Orbitron', sans-serif; /* 粗犷、现代感强的字体 */
  --body-font: 'Roboto', sans-serif; /* 简洁清晰的字体 */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* 隐藏滚动条，为全屏滚动做准备 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  color: var(--neon-blue);
}


